/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding: 0 clamp(0%, -130.28px + 34.74vw, 15%);
  font-family: "Inter Variable";
  font-size: 1.125rem;
  background-color: #1a1a1a;
  background-image:
    repeating-linear-gradient(to right, #e7e7e7 0 3px, transparent 3px 6px),
    repeating-linear-gradient(to bottom, #e7e7e7 0 3px, transparent 3px 6px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e700);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  max-width: 700px;
  margin: 100px auto;
  border: 2px solid #000;
  padding: clamp(122px, 119.02px + 0.784vw, 130px) 0;
  font-family: "Press Start", sans-serif;
  text-align: center;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 17px;
  font-size: clamp(49px, 43.039px + 1.569vw, 65px);
}

.header__paragraph {
  font-size: clamp(14px, 10.647px + 0.882vw, 23px);
  text-transform: uppercase;
}

.content__card-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.content__cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__card {
  border: 2px solid #000;
  background-color: #fff;
}

.content__card_title {
  padding: 4px 10px;
  font-weight: 715;
  font-size: inherit;
}

.content__card_img {
  display: block;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.relative-container {
  position: relative;
}

.relative-container::before {
  position: absolute;
  content: "</HTML>";
  font-family: "Press Start";
  font-size: 14px;
  top: 25px;
  right: 25px;
  -webkit-text-stroke: 0.02rem #fff;
}

.button {
  border: none;
  border: 2px solid #000;
  padding: 10px;
  font-family: "Press Start";
  font-size: 0.875rem;
  background-color: transparent;
  background-color: #fff;
}

.content__card-buttons {
  display: flex;
  align-items: center;
  align-self: end;
  padding: 0;
  gap: 6px;
  cursor: pointer;
}

.card__icon-button {
  border: none;
  padding: 0;
}

.card__like-button {
  min-width: 130px;
}

.floppy {
  width: 21px;
  height: 21px;
  background-image: url(../svg/floppy.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.save-button {
  margin: 50px auto 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 18px;
}

.save-dialog {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.save-dialog[open] {
  position: fixed;
  display: grid;
  font-family: "Press Start";
  align-items: center;
  width: clamp(341px, 336.77px + 1.13vw, 353px);
  line-height: 150%;
  grid-template-columns: min-content 1fr;
  inset: 0;
  font-size: 14px;
  column-gap: 20px;
  row-gap: 30px;
  border: 2px solid #000;
  background-color: #fff;
  padding: 30px clamp(30px, 43.52px + -0.94vw, 40px);
  transition: opacity 0.5s linear;
  opacity: 1;
}

.save-dialog .floppy {
  width: 39px;
  height: 40px;
}

.save-dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.dialog-button {
  grid-column: span 2;
}

.like-icon.is-liked {
  animation: like 0.5s linear 1 forwards;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .floppy {
    width: 29px;
    height: 29px;
  }
}
